<!-- app/views/auctions/show.html.erb -->
<h1>Current Bid: <span id="current_bid"><%= number_to_currency(@auction.current_bid, unit: "JPY", format: "%u %n" ) %></span></h1>

<%= form_with model: @auction, url: auction_path(@auction), method: :patch, remote: true do |form| %>
  <%= form.number_field :current_bid, min: @auction.current_bid + 1 %>
  <%= form.submit "bid" %>
<% end %>

